cryptography==42.0.8
fastapi==0.111.0
ffmpeg==1.4
ffmpeg-python==0.2.0
firebase-admin==6.5.0
grpcio-status==1.62.2
h2==4.1.0
httptools==0.6.1
hume==0.7.0
ipykernel==6.29.0
moviepy==1.0.3
openai==1.35.3
openai-whisper==20231117
opencv-python==4.10.0.84
pip-chill==1.0.3
pyaudio==0.2.14
python-dotenv==1.0.1
pyyaml==6.0.1
watchfiles==0.22.0
wave==0.0.2
